<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="SerotoninSensor" type="bbv.Common.Bootstrapper.Configuration.ExtensionConfigurationSection, bbv.Common.Bootstrapper"/>
    </configSections>

    <SerotoninSensor>
        <Configuration>
            <add key="PanicModeEnabled" value="true"/>
        </Configuration>
    </SerotoninSensor>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
