<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="SerotoninSensor" type="bbv.Common.Bootstrapper.Configuration.ExtensionConfigurationSection, bbv.Common.Bootstrapper"/>
    </configSections>

    <SerotoninSensor>
        <Configuration>
            <add key="PanicModeEnabled" value="true"/>
        </Configuration>
    </SerotoninSensor>
</configuration>